.album {
    &-container {
        display: flex;
        justify-content: center;
    }

    &-view {
        width: 780px;
        height: 780px;
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 4px;
    }
}
