.albums {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;

    &.grid {
        flex-wrap: wrap;

        .albums {
            &-cover {
                position: relative;
                margin: 8px;
                border-radius: 4px;
                overflow: hidden;

                &-rank {
                    display: inline-block;
                    font-size: 16px;
                    margin-right: 6px;
                }

                img {
                    width: 200px;
                    height: 200px;
                }
            }

            &-info {
                font-size: 14px;
                min-height: 48px;
                padding: 6px 12px;
                text-align: center;
                max-width: 200px;
                background: #f6f6f8;
                height: 100%;

                span {
                    display: block;
                }
            }
        }
    }

    &.list {
        flex-direction: column;

        .albums {
            &-cover {
                display: flex;
                align-items: center;
                border-bottom: 1px solid #dbdce1;
                padding: 10px;
                transition: border-color 0.2s ease;

                &:hover {
                    border-color: #8f8f94;
                }

                &-rank {
                    width: 50px;
                    min-width: 50px;
                }

                img {
                    width: 64px;
                    height: 64px;
                    border-radius: 4px;
                }
            }

            &-info {
                margin-left: 18px;
                font-size: 24px;

                &-title {
                    margin-right: 10px;
                    font-size: 32px;
                }
            }
        }
    }

    &-cover {
        cursor: pointer;

        &:focus-visible {
            outline: 2px solid #838691;
        }

        img {
            display: block;
        }
    }

    &-info {
        font-style: italic;
    }
}

@media screen and (max-width: 800px) {
    .albums.list {
        .albums-info {
            font-size: 14px !important;

            &-title {
                font-size: 18px !important;
            }
        }
    }
}
