header {
    background: #f6f6f8;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 16px;
}

@media screen and (max-width: 800px) {
    header {
        font-size: 14px;
    }
}
