.grid-switcher {
    position: fixed;
    bottom: 24px;
    width: 100%;
    display: flex;
    justify-content: center;

    &-inner {
        display: flex;
        width: 84px;
        height: 48px;
        border: 1px solid #000;
        border-radius: 8px;
        background: #fafbfb;
        justify-content: space-evenly;
        align-items: center;
    }

    &-item {
        width: 30px;
        height: 30px;
        background: #fff;
        cursor: pointer;
        padding: 0;
        margin: 0;
        border: none;
        transition: background 0.2s ease;
        border-radius: 4px;

        &:hover,
        &:active {
            background: #f6f6f8;
        }

        &.selected {
            background: #dbdce1;
        }

        &:focus-visible {
            outline: 1px solid #838691;
        }
    }
}
