@import url("https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap");

* {
    box-sizing: border-box;
}

body,
html {
    font-family: "Lato", sans-serif;
    background: #fff;
    color: #838691;
    font-size: 20px;
    height: 100%;
    margin: 0;
}

#app {
    height: 100%;
}

main {
    max-width: 1280px;
    margin: 0 auto;
    padding: 48px 12px 0;
}

.message {
    text-align: center;
    font-size: 34px;
}

.bold {
    font-weight: bold;
}

.svg-icon {
    transition: transform 0.2s ease;
}

a {
    color: inherit;
    text-decoration: none;
}
