.logo {
    display: flex;
    align-items: center;

    &-icon {
        position: relative;
        background: radial-gradient(100% 100% at 50% 0%, #006fff 0%, #003c9e 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 56px;
        height: 56px;
        flex: 0 0 56px;

        &:hover,
        &:active {
            .svg-icon {
                transform: rotate(8deg);
            }
        }

        &:not(:hover):before {
            content: "";
            position: absolute;
            border: 1px solid #000000;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        &:focus-visible {
            outline: 2px solid #838691;
        }
    }

    &-title {
        margin: 0 16px;
    }
}
